@import "tailwindcss";

/* styles for table  */

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

thead {
  background-color: #f2f2f2;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

button{
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover{
    background-color: #17379e;
  }
}




@media print {
  .no-print {
    display: none;
  }
}